:root {
    --white: #112312;
    --orang: #B59571;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Circe", sans-serif;
}
.header {
    padding: 40px 0;
}

.header__contanier {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style: none;
}

.header__list-link{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: var(--white);
}
.header__list-link {
    font-family: "Circe", sans-serif;
}

a {
    text-decoration: none;
}
.header__button {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    padding: 10px 20px;
    background-color: var(--orang);
    /* border: var(--orang); */
    /* outline: var(--orang); */
}