.menu-link {
    font-family: 'Ramsin',
Arial, sans-serif;

  font-size: 54px;
  font-weight: 700;

  color: #FFFFFF;
  line-height: 34px;
}
.button {
    font-size: 16px;
    font-weight: 600;

    background-color: #a87d06a8;
    color: #fefeff;

    border: 0;
    border-radius: 8px;
    padding: 12px 18px;

    cursor: pointer;
}
header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 0 40px;
    border-bottom: 1px solid silver;
    margin-bottom: 100vh;
}